@font-face {
  font-family: Playfair Display;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Lora;
  src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: #F2E7D5;
}

.header {
  background-color: #393e46;
  height: 75px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 75px;
  width: 240px;
}

.logo:hover {
  background-color: #464d57;
}

.logo__logo-image {
  height: 65px;
  width: auto;
  transition: scale 0.3s ease;
}

.logo__logo-image:hover {
  scale: 1.05;
}

.container {
  width: 1400px;
  display: flex;
}

.container__main {
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  flex: 1;
}

.nav__space {
  flex: 1;
}

.nav__list {
  display: flex;
  flex: 1;
  list-style: none;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7f7f7;
  text-decoration: none;
  height: 75px;
  font-family: Montserrat, sans-serif;
  padding: 0px 15px;
  font-weight: 600;
  text-align: center;
}

.nav__link:hover {
  background-color: #464d57;
}

.search {
  display: flex;
  background-color: #f7f7f7;
  align-items: center;
  margin: 0px 15px;
  border-radius: 4px;
  overflow: visible;
  flex: 1;
  border: solid 1px #BDBDBD;
  
}

.search__input {
  outline: none;
  height: 40px;
  background-color: rgba(0 0, 0, 0);
  border: none;
  padding: 0px 15px;
  font-family: Lora, serif;
  font-size: 16px;
  min-width: 340px;
}

.search__input::-webkit-search-cancel-button {
  display: none;
}

.search__input::placeholder {
  font-family: Lora, serif;
  font-size: 16px;
}

.search__button {
  background-color: rgba(0 0, 0, 0);
  border: none;
  cursor: pointer;
  height: fit-content;
  margin-right: 10px;
}

.search__icon {
  border-radius: 4px;
  color: #BDBDBD;
  transition: color 0.3s ease;
}

.search__icon:hover {
  color:#9b9b9b;
}

.visually-hidden {
  border: 0;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main {
  display: flex;
  justify-content: center;
  margin: 35px 0px;
}

.main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 65px;
  font-family: Playfair Display, serif;
  color: #f7f7f7;
  background-color: #506F62;
}

.features-section {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: 325px;
  width: inherit;
}

.features-section__cards-wrapper {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.features-section__card {
  display: flex;
  width: 350px;
  height: 165px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  flex-direction: column;
  font-family: Lora, serif;
  align-items: center;
  justify-content: baseline;
  padding-top: 10px;
}

.features-section__card-title {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 500;
}

.features-section__card-text {
  text-align: left;
  width: 295px;
}

.features-section__section-title {
  font-family: Playfair Display;
  align-self: baseline;
}