@font-face {
  font-family: Playfair Display;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Lora;
  src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2e7d5;
  font-family: sans-serif;
}

.body-header {
  background-color: #393e46;
  height: 75px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  width: 1200px;
  justify-content: center;
  border: 1px solid;

}

.logo img {
  max-width: 233px;
  vertical-align: bottom;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu ul li input {
    min-width: 250px;
    padding: 10px;
    outline: none;
}

::placeholder {
    font-family: 'Lora', sans-serif;
    font-size: 14px;
}

.menu ul li a {
  font-size: 14px;
  color: #f7f7f7;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-family: 'Montserrat', sans-serif;
}

.menu ul a:hover {
  background-color: #464d57;
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 22px;
}

main {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.container a {
  text-decoration: none;
}

main .container {
  flex-direction: column;
}

.main-header {
  background-color: #506F62;
  width: 1200px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: baseline;
}

.section-header {
  background-color: #506F62;
  width: 1200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
}

h1 {
  font-family: Playfair Display;
  color: #f7f7f7;
  font-size: 32px;
}

h2 {
  font-family: Playfair Display;
  color: #f7f7f7;
  font-size: 24px;
  font-weight: normal;
  margin-left: 64px;
}

.main-header-section {
  height: 325px;
  width: 1200px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-section {
  height: 370px;
  width: 1200px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer {
  height: 65px;
  color: #f7f7f7;
  background-color: #393E46;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer .container {
  display: flex;
  gap: 30px;
  justify-content: start;
}

footer nav a{
  gap: 30px;
  color: #f7f7f7;
  text-decoration: none;
}

footer nav {
  display: flex;
  gap: 30px;
}

h3 {
  font-size: 24px;
  font-family: Lora;
  font-weight: normal;
  margin-top: 10px;
}

.card {
  width: 350px;
  height: 165px;
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.card p {
  font-size: 16px;
  width: 301px;
  height: fit-content;
  font-family: Lora;
  padding: 5px;
}

.card-book {
  display: flex;
  gap: 5px;
  flex-direction: column;
}